<mat-toolbar color="primary">
  <span>Adocão</span>

  <div class="botoes">
    <button (click)="irParaTelaInicial()" style="margin-left: 15px;" mat-flat-button color="primary">Home</button>
    <button (click)="irParaTelaDeCadastroDeAnimal()" style="margin-left: 15px;" mat-flat-button color="primary">Cadastrar animal</button>
    <button (click)="irParaTelaDeCadastroDeCliente()" style="margin-left: 15px;" mat-flat-button color="primary">Cadastrar cliente</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
